os:
- linux
services:
- docker
language: node_js
node_js:
- '8'
branches:
  only:
  - master
sudo: false
cache:
  yarn: true
env:
  global:
  - secure: XqfrXtFc5cDojBCjbN6eDGK7sRCudN8rUfBRDORKDXLk9hSwRi5ZBbPW2yQ8DM+/XoXu6QkstUJ8dGyKSsEI4REd5XEjS/H/tYYzXMghsQyBHAMATzjUIbRmJw5em350s76x1HoWaLLLmCiZXo5xAl9sD+NR7NDIyt2luOmzFSGNiBr/Dqxc27Mu5FPWka0ZZCAu4n3E7Y9dp6kOgJM5/gQjm4SeZnIvsfVumtuDb469Z8Z41DkaepvoVX9fzQHa4MTHjgkrQD1BStDCit+1j5Dg+84rjlfeSRALqFmdrpeOL+IC4tkTPWnljWZnEmT2PXkd0kYw/HsNLEIpX7bl1k7z4fHDJ/4qR3p/Fx+FfHmG8epxZZ91iucX2ZPzlYoYfIlDBu7wfJ+t9Uetzb0hkneoFPIxhl6+CRG+yRFqFmKbja2funsHk6706A3piGKluRqkfWJSgyX1KU6FGpvl/MFH0DQalMtv0qLs318zAOtQ8xuF6zN0Qv+YBkqcxQDja003rFAuA7Az2iyAQE+Xxmj6dhQ06v6RPYXMGDBWfzObFTjP1U/gHGIfD1BiBLnoel/bOxBEDuP93mECmjZcKmdE9gNgTY//O+KXiG6MCbU+2AHjjrmSX4L0fTksZgD2w1yb/YHSTBGXfW/96DFUIPYwioa1B30D3i1eOuqOB6M=
  - secure: pK4QuJy+XZpGXfAmX5kjSmc6atnbab0gDptMQ2EQ2RyrCWobqY3ZHnByO2Qln0QB35dQN9d9+i1E+MSoXf7hpWotP0jGwzi18lu5V9koxVg0IZipQIJDq4yxqOIV+Ot/NGNkRaNghdvP7L7N8aGm05oXXOacG337G/1IenLmyZk4xsJRk8y/ntWtyu0PO3sq8dn1BkxHLtiJSUs5ck0qDTkngyPYEjwQRWXsAMsxxjcpjtmeEwTOMmKEQkLMzSyD52BBQDbLf3OLBPT3cj7+KlnaOK+D+TsQ5dfi7hi0N1n9wutEo9OcmvR+w4BEdhp1hnNW2yViN8oH8++lf+L1v5UmTtPXGQntErnAOeMO458QRX4YSejCyk4A9NU01iRxvI/yAKRByDQ3tO+Hd40Vbx8Qkgd6YrqHjSlFYMTXynFx2zD5fDNLXtYqQ3bEbJnt4IYOVOqEaxPfKApFDI4G58ly3OVQX+M+Nx0wJ2ug2WhoxP58REE+d+Yb/Cf40B9TFO6hdQQgcnNTCFentsvnv8rcFOMVpmfzdrD3I+WTTr6db/LIWIekAkxjkjInm06HRznLHIBiluOhE27C1jahlElo1k2Tikv6m/c3GJYE7zICjz2t6S1j0ZM1BbxyAdlQtA7X0tedHhmQINfSSMP1QxW/6m8Z8BbMGy/kTGvnPpE=
  - secure: BjHtGsxPcT2fcGD1U1J2lTHDzv0W3FWaidnG44qTbmZd59iztaNWddOpxSetkZsR0K8TwHEC/bR+YR+IlGdYAz69KeySIhCMYQKnu/N5a1coc9smvm7R/tMsgrmHM15K36RXgsn8lMngQwhcJa5+8eJNg0/yUTiOQ7nKqJ2QF2h9dBkT8zoT5+5HDRPKiuZMnqS+rN9Ah6uAtTWgIfEfvVB2QBC85tjex8gJmUg981/ENn9UCP1ZdgY7xWJx8hKZvwsS2f8ov2B/V77yGT2DTTBb2H2n9VcoABv80y0VYyW8b/soUVPpstu8BbpRh9kCmY/YpTHEufAZforv3qQmCiWfEYcXWKGAahEchD80nzIfKt9uo0qW8n+T7jtyxKayqHa5Aydgq+Kvt7SxR0yGYTMlJkJGmf61bI4XDtrvvUX4DGxPf2+2MrJsv2QcFHuGsPSR2izvni2VN8mz8wdxzga4na+niVLAqENv669T3L/U/MQ1Ifg85tVb4fS6sVyUh+tN67+AYYMl1GvVDzqrbBHFbCggSd1RczOoG7dw44zluv0+jdU4bLTTW5RTlXvH5sgYWeSoFQTj21RI61Ah5FKp4yCCtKPzuKwepYH8Eusiad6niMVaktpWSqXarw2C5jDpQGtND3SG3AYioAH9EHohqD/hCGKP8twtlFKFozw=
script:
- docker build -t luulsolutions/luulpos_doc .
- docker images
notifications:
  webhooks:
    on_success: change
    on_failure: always
    on_start: false
after_success:
- docker login -u $DOCKER_USER -p $DOCKER_PASS
- docker push luulsolutions/luulpos_doc:latest
